<div class="suggest_window">
    <div class="title">
        Are you looking for?
    </div>
    <div class="suggestion_list">
        <div class="suggestion button">
            <img class="image"></img>
            <div class="details">
                <div class="name"></div>
                <div class="address"></div>
            </div>
        </div>
        <div class="suggestion button">
            <img class="image"></img>
            <div class="details">
                <div class="name"></div>
                <div class="address"></div>
            </div>
        </div>
        <div class="suggestion button">
            <img class="image"></img>
            <div class="details">
                <div class="name"></div>
                <div class="address"></div>
            </div>
        </div>
        <div class="add_button button">
            <span>Add my own</span>
        </div>
    </div>
</div>