{% load compressed %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9999" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyClW-y8gcnOv5QgRHJ-CqUS6iU0VXhMVF4&sensor=false"></script>
    {% compressed_css 'style' %}
    {% compressed_js 'third_party' %}
    {% compressed_js 'common' %}
    {% compressed_js 'deferred' %}
    <title>Urban Trails - {% block title %}Urban Trails{% endblock %}</title>
</head>
<body>
    {% block main %}{% endblock %}
</body>
</html>